/**
 * @file
 * Subtheme specific CSS.
 */


#main-wrapper {
  background: url(../images/signet_cms-garden_rgb.svg) no-repeat center center #f3f3f3;
 

}
.navbar-brand img {
  max-width: 300px;
  height: auto;
}

